peewee
aiohttp
h11
h2
jsonschema
atomicwrites
cachetools
unpaddedbase64
pycryptodome
sphinx >= 1.8
aiohttp; python_version >= '3.5'
aiohttp_socks
aioresponses; python_version >= '3.5'
aiofiles; python_version >= '3.5'
m2r2
sphinx_rtd_theme
