peewee==3.16.3
aiohttp==3.10.2
h11
h2
jsonschema==4.19.1
atomicwrites
cachetools==5.3.3
unpaddedbase64
pycryptodome==3.19.1
sphinx==7.3.7
sphinx-autodoc-typehints
aiohttp_socks==0.8.3
aioresponses==0.7.6
aiofiles==23.2.1
m2r2
sphinx_rtd_theme==2.0.0
