setuptools
poetry
pytest
pytest-asyncio
pytest-flake8
pytest-cov
pytest-benchmark
hyperframe
hypothesis
hpack
faker
mypy
mypy_extensions
aiohttp < 4.0.0
pytest-aiohttp
aioresponses
python-olm>=3.2.16
peewee>=3.17.0
atomicwrites
cachetools
unpaddedbase64
pycryptodome
aiofiles
jsonschema
h2
h11
